body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.login {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
  position: absolute;
  top: 30%;
  left: 25%;
}

.question {
  border: 1px solid black;
}

.question-cell {
  text-align: center;
}

.answer-cell {
  border: 1px solid black;
  width: 300px;
  text-align: center;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar-li {
  float: left;
}

.navbar-li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.navbar-li a:hover {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.right-aligned {
  float: right;
}

.logout {
  background-color: #333;
  width: 100px;
  height: 50px;
  color: white;
  border: none;
  font-size: medium;
  cursor:pointer;
}

.logout:hover {
  background-color: #111;
}

.question-group-selector {
  background-color: #333;
  border: none;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  cursor:pointer;
  width: 50%;
}

.question-group-selector:hover {
  background-color: #111;
}

.question-group-selector:disabled {
  background-color: #4CAF50;
}

.question-overview{
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}

.option{
  display: inline-block;
  text-align: center;
  width:46%;
  background-color: yellowgreen;
  margin: 2%;
  border-radius: 20px;
}

.option-detailed{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width:46%;
  height: 120px;
  background-color: yellowgreen;
  margin: 2%;
  border-radius: 20px;
}

.option-button{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width:46%;
  height: 120px;
  background-color: yellowgreen;
  margin: 2%;
  border-radius: 20px;
  cursor:pointer;
}

.option-button:hover {
  background-color: green;
}

.option-new{
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width:45%;
  height: 120px;
  border-color: yellowgreen;
  margin: 2%;
  border-radius: 20px;
}

.create-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 50px;
  border-radius: 20px;
  background-color: orange;
  font-weight: bold;
  color: black;
}

.create-button:disabled {
  background-color: grey;
}

.create-button:hover:enabled {
  background-color: orangered;
  cursor:pointer;
}

.selected {
  font-weight: bold;
}

.leaderboard-first {
  border: 5px solid gold;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.leaderboard-second {
  border: 4px solid silver;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.leaderboard-third {
  border: 3px solid #6a3805;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.leaderboard-entry {
  border: 2px solid grey;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

.leaderboard-image {
  float: left;
  width: 130px;
  height: 130px;
  margin-right: 50px;
}